/* ===================== RESET ===================== */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    color: #111;
    background: #f7f7f7;
    height: 100vh;
}

/* ===================== CONTAINER ===================== */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===================== HEADER ===================== */
.header {
    background: rgba(255, 255, 255, 0.95);
    position: sticky;
    top: 0;
    z-index: 30;
    border-bottom: 1px solid #eee;
}

.logo {
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    color: #111;
    padding: 14px 0;
    display: inline-block;
}

.menu a {
    color: #111;
    text-decoration: none;
    margin-left: 18px;
    font-weight: 500;
}

.hamburguesa {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #111;
}

/* ===================== TITULO ===================== */

.titulo{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}


/* ===================== NOTICIAS ===================== */

.noticias{
    display: flex;
    flex-direction: column;
    padding: 0rem 10rem 2rem 10rem;
    margin: 0rem 10rem 2rem 10rem;
}

.card{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows:auto;
    flex-direction: column;
    background-color: #eee;
    border-radius: 2rem;
    padding: 3rem;
    

}
.titulos p{
    opacity: 80%;
    font-size: .8rem;
}
.cambiar{
    display: flex;
    justify-content: flex-end;
    gap: 1rem ;
}

.card img {
    max-width: 20rem;
}



/* ===================== FOOTER ===================== */
.footer {
    background: #111;
    color: #fff;
    padding: 32px 0;
    margin-top: 28px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0 20px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}